

nav a {
    /* Your styles for nav anchor elements go here */
}

h1 {
    /* Your styles for h1 go here */
}

aside {
    position: fixed;
    width: 100%;
    text-align: center;
}

aside img {
    /* Your styles for aside go here */
}

img {
    /* Your styles for aside image go here */
}

p {
    padding: 0; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Class Selectors */
.box {

    padding-top: 30px;
}

main img {
    float: right;
}

aside h2 {
    position: absolute;
}